{% extends 'area_professor/base.html' %}
{% load static%}
{% block 'content' %}
<a href="" class="btn btn-primary mb-3">Nova Pergunta</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pergunta</th>
            <th>Cadastrado por</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        {% for pergunta in perguntas %}
        <tr>
            <td>{{ pergunta.id }}</td>
            <td>{{ pergunta.pergunta|truncatechars:50 }}</td>
            <td>{{ pergunta.criado_por }}</td>
            <td><a href="">Ver</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}